@model string
@{
    ViewBag.Title = "Create";
}

    <h2>Crea ruolo</h2>
<hr />

@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <div class="form-group">
        <label>Nome</label>
        <input name="name" value="@Model" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Crea</button>
}


