@{
    ViewBag.Title = "DEMO purpose Email Link";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Controlla la tua mailbox e conferma il tuo indirizzo email.
</p>
<p class="text-danger">
    Solo per DEMO : Puoi cliccare su questo link per confermare l’e-mail: <a href="@ViewBag.Link">link</a>
    @*Modifica questo codice per registrare un servizio di posta elettronica in IdentityConfig per inviare un'e-mail.*@
</p>
