@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Controlla la tua mailbox e conferma il tuo indirizzo email.
    </p>
    <p class="text-danger">
        Solo per DEMO : Puoi cliccare su questo link per confermare l’e-mail: <a href="@ViewBag.Link">link</a>
        @*Please change this code to register an email service in IdentityConfig to send an email.*@
    </p>
</div>

